@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap");
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", "Kanit", sans-serif;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #0e253d;
  font-weight: 300;
  color: #fff;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
a:active {
  text-shadow: none;
}

ul,
li {
  padding: 0;
  list-style: none;
}

.container-fluid {
  padding: 0 !important;
  height: 100vh;
  display: grid;
  grid-gap: 15px;
  color: #fff;
  text-align: center;
}
.container-fluid.-dashboard {
  grid-template: "header header" 120px "sidebar main" 3fr/450px 3fr;
}
.container-fluid.-detail {
  grid-template: "header header" 120px "sidebar main" 3fr/350px 3fr;
}
.container-fluid.-player {
  grid-template: "header header" 120px "player player" 3fr/350px 3fr;
}

.header {
  background-image: url("../images/head_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main {
  grid-area: main;
  padding-right: 1rem;
}

.player {
  grid-area: player;
  display: flex;
  flex-direction: column;
  padding: 0 15vw;
}

.locaion-title {
  padding: 1rem;
}

.sidebar {
  grid-area: sidebar;
  padding-left: 1rem;
}

.container_header {
  font-size: 2.5rem;
  line-height: 1;
}

.context_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-nav {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.top-nav > li {
  display: inline-block;
}
.top-nav > li > a {
  display: flex;
  padding: 0.5rem;
}

.badge {
  display: inline-block;
  border-radius: 1rem;
  padding: 0.2rem 0.6rem;
}
.badge.-alert {
  position: absolute;
  bottom: 0;
  left: -0.6rem;
  background-color: #e36654;
  color: #fff;
}

.icon-34-container {
  position: relative;
}
.icon-34-container > img {
  width: 34px;
  height: 34px;
}

.context_center_sum {
  font-family: "Roboto", "Kanit", sans-serif;
  font-weight: bold;
  font-size: clamp(16px, 5vw, 40px);
}

.context_center_date {
  font-size: clamp(12px, 5vw, 20px);
}

.block {
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(2, 188, 209, 0.8156862745);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
}

h2 {
  color: #02bed1;
  font-size: 1.3rem;
  text-align: left;
  margin-bottom: 1rem;
}

.wait {
  color: #f9c834;
}

.hold {
  color: #00d293;
}

.miss {
  color: #e36654;
}

.card-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.card-item {
  width: 32.5%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
}
.card-item a {
  display: flex;
  width: 100%;
}
.card-item:nth-child(1) .card-title {
  background-color: #40d8d6;
}
.card-item:nth-child(1) .card-value {
  color: #40d8d6;
}
.card-item:nth-child(2) .card-title {
  background-color: #37c9ee;
}
.card-item:nth-child(2) .card-value {
  color: #37c9ee;
}
.card-item:nth-child(3) .card-title {
  background-color: #2c93d6;
}
.card-item:nth-child(3) .card-value {
  color: #2c93d6;
}

.card-title {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-title h3 {
  margin: 0;
  line-height: 1;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.card-value {
  width: 60%;
  display: flex;
  position: relative;
  background-color: #fff;
  color: #000;
  justify-content: center;
  align-items: center;
}
.card-value > strong {
  font-size: 3rem;
}
.card-value > span {
  position: absolute;
  bottom: 0px;
  right: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.custom-table {
  width: 100%;
}
.custom-table thead tr,
.custom-table thead th {
  border-top: none;
  border-bottom: none !important;
  color: #02bed1;
  font-weight: 300;
  padding: 0 1rem;
}
.custom-table tbody tr:nth-child(2n) {
  background: rgba(255, 255, 255, 0.2);
}
.custom-table tbody tr:nth-child(2n-1) {
  background: rgba(255, 255, 255, 0.1);
}
.custom-table tbody tr:hover {
  background: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}
.custom-table tbody td {
  color: #fff;
  font-weight: 300;
  padding: 1rem;
  border: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

#detailTable {
  width: 100%;
}
#detailTable thead tr,
#detailTable thead th {
  border-top: none;
  border-bottom: none !important;
  color: #02bed1;
  font-weight: 300;
  padding: 0 1rem;
}
#detailTable tbody tr:nth-child(2n) {
  background: rgba(255, 255, 255, 0.2);
}
#detailTable tbody tr:nth-child(2n-1) {
  background: rgba(255, 255, 255, 0.1);
}
#detailTable tbody tr:hover {
  background: rgba(255, 255, 255, 0.05);
  /* cursor: pointer;*/
}
#detailTable tbody td {
  color: #fff;
  font-weight: 300;
  padding: 1rem;
  border: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.detail-table {
  width: 100%;
}
.detail-table thead tr,
.detail-table thead th {
  border-top: none;
  border-bottom: none !important;
  color: #02bed1;
  font-weight: 300;
  padding: 0 1rem;
}
.detail-table tbody tr:nth-child(2n) {
  background: rgba(255, 255, 255, 0.2);
}
.detail-table tbody tr:nth-child(2n-1) {
  background: rgba(255, 255, 255, 0.1);
}
.detail-table tbody tr:hover {
  background: rgba(255, 255, 255, 0.05);
  /* cursor: pointer;*/
}
.detail-table tbody td {
  color: #fff;
  font-weight: 300;
  padding: 1rem;
  border: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.export-icon {
  float: right;
}

.pill-btn {
  display: flex;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  padding: 0.5rem 1rem;
  color: #fff;
  text-decoration: none;
  min-width: 10rem;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
}
.pill-btn:first-child {
  border-radius: 1.25rem 0 0 1.25rem;
}
.pill-btn:last-child {
  border-radius: 0 1.25rem 1.25rem 0;
}
.pill-btn.-all {
  background-color: #35C8EE;
}
.pill-btn.-all:hover {
  border-color: #fff;
  color: #fff;
}
.pill-btn.-all:active {
  border-color: #fff;
  color: #fff;
}
.pill-btn.-warning {
  background-color: #e36654;
}
.pill-btn.-warning:hover {
  border-color: #fff;
  color: #fff;
}
.pill-btn.-warning:active {
  border-color: #fff;
  color: #fff;
}
.pill-btn.-online {
  background-color: #3FD9D7;
}
.pill-btn.-online:hover {
  border-color: #fff;
  color: #fff;
}
.pill-btn.-online:active {
  border-color: #fff;
  color: #fff;
}
.pill-btn.-offline {
  background-color: #f9c834;
}
.pill-btn.-offline:hover {
  border-color: #fff;
  color: #fff;
}
.pill-btn.-offline:active {
  border-color: #fff;
  color: #fff;
}

.gmap-area {
  position: relative;
}

.map-overlay {
  position: absolute;
  justify-content: space-around;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.map-overlay.-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  z-index: 10;
}

.cat-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cat-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(2, 188, 209, 0.8156862745);
  border-radius: 10px;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
}
.cat-item.active {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(2, 188, 209, 0.8156862745);
  box-shadow: 0 0 10px rgba(2, 188, 209, 0.8156862745);
}

.cat-title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cat-title h3 {
  font-size: 1.5rem;
  margin: 0;
}

.cat-value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}
.cat-value img {
  max-width: 50px;
}
.cat-value strong {
  flex-grow: 2;
  font-size: 3rem;
  color: #02bed1;
  line-height: 1;
}

.btn-view {
  background: #00D293;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: inline-block;
  padding: 0 1rem;
}

.btn-primary {
  background: #35C8EE;
  border: none;
  color: #0E3356;
}

.screen-area {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 3fr 400px;
  height: 93vh;
  grid-gap: 15px;
}

.screen-area .block {
  margin-bottom: 0;
}

.sample-screen {
  background: #000000;
  grid-row: 1/3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sample-screen img {
  max-width: 100%;
}

.screenshot {
  grid-column: 1/3;
}

.link-icon {
  float: right;
}

.face-area {
  height: 20vh;
  overflow: auto;
}
.face-area li {
  width: 24%;
  margin: 0 0.2rem 0.2rem 0;
  float: left;
}
.face-area img {
  border-radius: 10px;
  width: 100%;
}

.vehicle-area {
  height: 20vh;
  overflow: auto;
}
.vehicle-area li {
  max-width: 32.3%;
  margin: 0 0.2rem 0.2rem 0;
  float: left;
}
.vehicle-area img {
  border-radius: 10px;
  max-width: 100%;
}

.screenshot-area {
  height: 44vh;
  overflow: auto;
}
.screenshot-area li {
  max-width: 24.6%;
  margin: 0 0.2rem 0.2rem 0;
  float: left;
  overflow: hidden;
  position: relative;
}
.screenshot-area img {
  border-radius: 10px;
  max-width: 100%;
}
.screenshot-area p {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 0 0.5rem;
}

.ratio::before {
  display: inline;
}

.table-accordion {
  color: #fff;
  border-collapse: separate;
  border-spacing: 0 1px;
}

.table-accordion > thead > tr {
  background-color: #114171;
  border-radius: 10px;
  padding: 1rem !important;
}

.table-accordion > thead > tr > th {
  padding: 0.5rem 1rem !important;
}

.table-accordion p {
  margin: 0;
}

.expand-button {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.expand-button td {
  padding: 1rem !important;
}

.table > :not(caption) > * > * {
  padding: 0;
  border-bottom-width: 0;
}

.apexcharts-svg {
  background: none !important;
  cursor: pointer;
}

.modal-dialog input[type=radio] {
  display: none;
}
.modal-dialog input[type=radio]:not(:disabled) ~ label {
  cursor: pointer;
}
.modal-dialog input[type=radio]:disabled ~ label {
  box-shadow: none;
  cursor: not-allowed;
}

.modal-dialog label {
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.05);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
  position: relative;
}

.modal-dialog input[type=radio]:checked + label {
  border: 2px solid #35C8EE;
}

.modal-dialog {
  min-width: 50vw;
}

.modal-header {
  text-align: center;
  border: none;
}

.modal-header p {
  width: 100%;
  line-height: 0;
  margin: 0;
}

.modal-header img {
  margin-top: -70px;
  max-width: 90px;
  align-items: center;
}

.modal-body h2 {
  color: #000;
}

.modal-body ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal-body li {
  width: 15%;
  text-align: center;
}

.modal-body li img {
  width: 50%;
}

.modal-body li h3 {
  color: #000;
  font-size: 1rem;
}

.modal-footer {
  justify-content: center;
}

.dselect-wrapper .form-select {
  padding-left: 0.75rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.25rem;
  text-align: left;
}

.dselect-wrapper .form-select.show {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.dselect-wrapper .dropdown-menu {
  padding: 0.375rem;
  width: 100%;
}

.dselect-wrapper .form-control {
  border-color: #ced4da !important;
  padding: 0.25rem calc(0.375rem - 1px);
  font-size: inherit;
}

.dselect-wrapper .dselect-no-results {
  padding: 0.25rem 0.375rem;
}

.dselect-wrapper .dselect-tag {
  background-color: #6c757d;
  color: #f8f9fa;
  padding-left: calc(0.5rem + 14px);
  padding-right: 0.5rem;
  border-radius: 0.25rem;
  height: 1.5rem;
  line-height: calc(1.5rem - 1px);
  position: relative;
}

.dselect-wrapper .dselect-tag-remove {
  position: absolute;
  left: 0.25rem;
  top: 50%;
  margin-top: -7px;
  color: rgba(248, 249, 250, 0.35);
  transition: color 0.15s ease-in-out;
}

.dselect-wrapper .dselect-tag-remove:hover {
  color: #f8f9fa;
}

.dselect-wrapper .dselect-placeholder {
  color: #6c757d;
}

.datepicker-grid {
  color: #000;
}

.modal-fullscreen .modal-content {
  background-color: #10253A;
}

.modal-fullscreen .modal-body h2 {
  color: #fff;
}

.modal-fullscreen .btn-close {
  background: none;
  color: #fff;
  font-size: 2.5rem;
  padding: 0;
}

.modal-fullscreen .full-area {
  height: 85vh;
  overflow: auto;
}

.modal-fullscreen .modal-body ul {
  justify-content: flex-start;
}

.modal-fullscreen .full-area li {
  width: 14%;
  margin: 0 0.2rem 0.2rem 0;
  float: left;
}

.modal-fullscreen .full-area .cctv-screen li {
  width: 33%;
}

.modal-fullscreen .full-area li img {
  border-radius: 10px;
  width: 100%;
}/*# sourceMappingURL=sos-style.css.map */